*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Space-Grotesk";
  src: url("./font-family/static/SpaceGrotesk-Medium.ttf");
}

html {
  font-size: 62.5%;
}

:root {
  /*font family*/
  --font-ff-space-grotest-medium: "Space-Grotesk";

  /*font size*/
  --font-size-1: 1.8rem;

  /*color*/
  --linear-gradient-active-border: hsl(249, 99%, 64%), hsl(278, 94%, 30%);
  --color-red: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --Light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}

body {
  font-size: var(--font-size-1);
  font-family: var(--font-ff-space-grotest-medium);
  position: relative;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr;
}

.filler {
  display: none;
}

.credit-card {
  background-image: url("./images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem 1.4rem;
  margin-bottom: 8rem;
  height: 25rem;
  position: relative;
}

.card {
  position: absolute;
  border-radius: 8px;
  color: var(--white);
  width: 89%;
  max-width: 29.7rem;
  min-height: 15.5rem;
  padding: 1.8rem 2.2rem 2.3rem 2rem;
}

.card__logo {
  width: 5.4rem;
  margin-bottom: 3.5rem;
}

/*card information*/
.card__information {
  display: flex;
  justify-content: space-between;
}

.card__number {
  margin-bottom: 1.8rem;
  letter-spacing: 2px;
  font-size: 1.85rem;
}

.card__name,
.card__exp {
  font-size: 1.1rem;
  color: var(--Light-grayish-violet);
}

.card__name {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card--front {
  background-image: url("./images/bg-card-front.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100% 100%;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(4.2rem) translateX(-2rem);
  margin: 0 auto;
  z-index: 1;
}

.card--back {
  min-height: 16.6rem;
  background-image: url("./images/bg-card-back.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  transform: translateY(3rem) translateX(2.8rem);
}

.card__number--back {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateX(-7rem) translateY(-50%);
  font-size: 1.2rem;
}

/*form*/
.form {
  padding: 0 2.3rem;
  max-width: 64.6rem;
  margin: 0 auto;
}

label {
  display: block;
  padding: 2.2rem 0 0;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 2px;
  color: var(--very-dark-violet);
}

/*form control group*/
.form-control-group {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.input-border-wrapper {
  margin-top: 0.7rem;
  border: none;
  border-radius: 9px;
  background: var(--Light-grayish-violet);
  padding: 0.1rem;
}

.input-border-wrapper:focus-within {
  background: linear-gradient(to right, var(--linear-gradient-active-border));
}

.form-control {
  width: 50%;
  min-width: 16rem;
}

input {
  display: block;
  padding: 1.6rem 1.7rem 1rem;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 9px;
}

input::placeholder {
  font-family: var(--font-ff-space-grotest-medium);
  color: var(--Light-grayish-violet);
  font-size: 1.8rem;
}

.form-control-group input {
  display: inline-block;
  width: auto;
}

.error-msg {
  font-size: 1.2rem;
  color: var(--color-red);
  margin-top: 0.5rem;
}

/* the first elements which has a class of the form control*/
.form-control:nth-child(1) {
  display: flex;
  flex-wrap: wrap;
}

.form-control:nth-child(1) label {
  width: 100%;
}

/*the element which contain the div input element and the error*/
.container {
  width: 50%;
  min-width: 5rem;
  display: flex;
  flex-direction: column;
}

label[for="exp-date"] ~ .input-border-wrapper {
  width: 44%;
  min-width: 7.8rem;
}

.form-control:nth-child(1) input {
  width: 100%;
}

.form-control:nth-child(1) .container:nth-child(3) .input-border-wrapper {
  margin-left: 1rem;
}

/* the second element which has a form-control class  */
.form-control:nth-child(2) {
  padding-left: 2.1rem;
}

.form-control:nth-child(2) input {
  width: 100%;
}

button {
  margin-top: 2.7rem;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 2rem 1rem;
  background: var(--very-dark-violet);
  color: var(--Light-grayish-violet);
  font-size: 1.5rem;
}

footer {
  padding: 1.8rem 0;
  margin-top: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.thankyou {
  width: 86%;
  max-width: 32.2rem;
  margin: 10rem auto 0;
}

.complete-image {
  display: block;
  margin: 0 auto 4rem;
}

.thankyou__text {
  text-transform: uppercase;
  color: var(--very-dark-violet);
  font-size: 3rem;
  letter-spacing: 1.8px;
  text-align: center;
  margin-bottom: 1.8rem;
}

.thankyou_text-2 {
  text-align: center;
  color: var(--dark-grayish-violet);
  margin-bottom: 4.8rem;
}

.thankyou__btn {
  display: block;
  margin: 0 auto;
  font-weight: bold;
  letter-spacing: 1px;
}

/*media query */
/* below 366px*/
@media (max-width: 366px) {
  .form-control:nth-child(1) {
    flex-direction: column;
  }

  .form-control:nth-child(1) .container:nth-child(3) .input-border-wrapper {
    margin-left: 0;
  }

  /* the second element which has a form-control class  */
  .form-control:nth-child(2) {
    padding-left: 0.3rem;
  }
}

/*above 1440px*/
@media (min-width: 1440px) {
  main {
    width: 144rem;
    margin: 0 auto;
    background-color: var(--white);
    display: grid;
    grid-template-columns: auto 1fr;
  }

  .credit-card {
    width: 48.2rem;
    margin: unset;
    height: unset;
    background-image: url("./images/bg-main-desktop.png");
    background-size: cover;
  }

  .card {
    left: unset;
    max-width: unset;
    transform: unset;
    top: 0;
    bottom: 0;
    right: 0;
    width: 44.7rem;
    height: 24.5rem;
    margin: auto 0;
  }

  .card__logo {
    width: 8.4rem;
  }

  .card--front {
    right: -12.5rem;
    padding: 2.8rem 3.4rem 2.6rem 3.3rem;
    display: flex;
    flex-direction: column;
    transform: translateY(-15rem);
  }

  .card--front .card__number {
    margin-top: auto;
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }

  .card__name,
  .card__exp {
    font-size: 1.5rem;
  }

  .card--back {
    right: -22rem;
    transform: translateY(15rem);
  }

  .card__number--back {
    transform: translateX(-8rem) translateY(-50%);
    font-size: 1.4rem;
  }

  /*form*/
  .form {
    margin: 0;
    align-self: center;
    width: 42.3rem;
    margin-left: 31.7rem;
  }

  label {
    padding: 2.7rem 0 0;
  }

  .input-border-wrapper {
    margin-top: 1.1rem;
  }

  button {
    padding: 1.8rem 1rem;
  }

  footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(100% - 48.2rem);
  }

  /*thankyou*/
  .thankyou {
    align-self: center;
    margin: 0 0 0 34.7rem;
    max-width: 38.2rem;
  }
}

/* for the screen above 1445px*/
@media (min-width: 1445px) {
  .wrapper {
    grid-template-columns: 1fr auto 1fr;
  }

  .filler {
    display: block;
  }
}

/*utility class*/
.hidden {
  display: none;
}

.margin-left-2 {
  margin-left: 3rem;
}
